*{
  box-sizing: border-box;
  margin: 0 auto;
  align-items: center;
}
.App{
  display: inline-flex;
  padding: 20px 20px 20px;
  justify-content: center;
}
.message-box{
  display: flex;
  background-image: url("./08.jpg");
  background-size: cover;
   border: gray solid 1px;
  width: 600px;
  height: 500px;
  align-items: flex-end;
}

.input{
  background-color: rgb(255, 255, 255);
  width: 400px;
  height: 50px;
  border-radius: 10px;
  margin-left: 2px;
}
.sideBar{
  width: 50px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 20px;
}
.users{
  background-color:  #ffffff;
  border-radius: 5px;
  border: gray solid 1px;
  width: 500px;
  height: 500px;
}

.search{
  margin-left: 2px;
  margin-top: 5px;
  padding: 10px;
  border-color: 2px solid rgb(55, 0, 255)  ;
  background-color: rgba(255, 255, 255, 0);
  width: 400px;
  height: 50px;
  border-radius: 15px;
  outline-color: none;
}
header{
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  height: 50px;
  padding: 15px ;
  width: 500px;
  background-color: #16665d;
}
.user-one{
  display: flex;
}
.user-two{
  display: flex;
}
img{
  border-radius: 50%;
  margin: 10px;
  position: relative;
  width: 50px;
  height: 50px;
}
 #user-id{
  margin-left: 0;
  font-style: oblique;
  font-size: 20px;
}
.login-page,.register-page{
  background-color: black;
  align-items: center;
  display: grid;
}
textarea{
  margin: 20px;
  height: 30px;
  width: 300px;
  border-radius: 10px;
}
button{
  display: grid;
  border: none;
  background-color: #2aa0b4;
  height: 50px;
  width: 100px;
  border-radius: 15px;
}
.password{
  color: #edf2f3 ;
}
h1{
  color: #1cbbbb;
}
