*{
  box-sizing: border-box;
  margin: 0 auto;
  align-items: center;
}
.App{
  display: grid;
  padding: 20px 20px 20px;
}
.body{
  display: flex;
  margin: 50px;
}

.message-box{
  background-image: url("./08.jpg");
  background-size: cover;
   border: gray solid 1px;
  width: 600px;
  height: 500px;
}

.input{
  color: #797373;
  background-color: rgb(255, 255, 255);

  width: 500px;
  height: 40px;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 10px;
  margin-left: 2px;
  margin-top: 410px;
}
.sideBar{
  width: 50px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 20px;
}
.users{
  background-color:  #ffffff;
  border-radius: 5px;
  border: gray solid 1px;
  width: 500px;
  height: 500px;
}

.search{
  margin-left: 2px;
  margin-top: 5px;
  padding: 10px;
  border-color: 2px solid rgb(55, 0, 255)  ;
  background-color: rgba(255, 255, 255, 0);
  width: 400px;
  height: 50px;
  border-radius: 15px;
  outline-color: none;
}
header{
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  height: 60px;
  padding: 15px ;
  width: 500px;
  background-color: #16665d;
}
.user-one{
  display: flex;
}
.user-two{
  display: flex;
}
img{
  border-radius: 50%;
  margin: 10px;
  position: relative;
  width: 50px;
  height: 50px;
}
 #user-id{
  margin-left: 0;
  font-style: oblique;
  font-size: 20px;
}
.login-page,.register-page{
  /* background-color: black; */
  align-items: center;
  display: grid;
}
textarea{
  margin: 20px;
  height: 30px;
  width: 300px;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 10px;
}
button{
  display: grid;
  border: none;
  cursor: pointer;
  background-color: #16665d;
  height: 50px;
  width: 100px;
  border-radius: 15px;
}
.password{
  color: #fff ;
  
}
h1{
  color: #16665d;
}
.message-box header{
 margin-left: 0;
 height: 50px;
}
header .user-two img{
  border-radius: 50%;
  margin: 10px;
  position: absolute;
  width: 30px;
  height: 30px;
}header .user-two p{
  display: flex;
  padding-left: 60px;
}
.link{
  text-decoration: none;
}
.register-link{
  color: #16665d;
  text-decoration: none;
  padding: 10px;
  margin-top: 5px;
}
 .icon{
 font-size: 30px;
 color:#16665d ;
 width: 55px;
 border-radius: 50%;
 margin-top: 390px;
 margin-right: 170px;
}
.message{
  position: relative;
  display: flex;
}